{% extends "event/_page-event.html" %}
{% import "post/_macros-post.html" as postMacros with context %}

{% block body %}
{{ super() }}

<div class="container themes">
  <div class="row">
    {% if themesPost %}
    <div class="col-lg-offset-1 col-lg-10">
      {{ postMacros.post(themesPost, {readingUser: user, readingUserLikes: userLikes}) }}
    </div>
    {% else %}
    <div class="col-xs-12">
      {% set shortlistEliminationInfo = event.related('details').get('shortlist_elimination') %}
      {% if shortlistEliminationInfo.start and shortlistEliminationInfo.body %}
      <div class="well user-contents">
        {{ shortlistEliminationInfo.body | markdown | safe }}
      </div>
      {% endif %}
    </div>

    <div class="col-md-4">
      <div id="js-view-themes">
        <h2>Idées de thème
        </h2>
        <div class="panel themes__ideas">
          {% for userTheme in userThemes %}
          <div class="themes__idea">
            <div class="themes__idea-label">
              {{ userTheme.get('title') }}
            </div>
            {{ themeDetails(userTheme) if userTheme }}
          </div>
          {% endfor %}
          {% if not userThemes or userThemes.length === 0 %}
          <div class="themes__idea">
            {% if event.get('status_theme') === 'voting' %}
            <p style="margin-bottom: 10px">Aucun pour l'instant. Vous pouvez soumettre jusqu'à {{ maxThemeSuggestions }}
              idées.</p>
            {% if not user %}
            <p><a href="/login?redirect={{ path | urlencode }}" class="btn btn-primary">Connectez-vous pour soumettre
                des idées</a></p>
            {% endif %}
            {% else %}
            {% if user %}
            Vous n'avez pas soumis d'idées de thème.
            {% else %}
            <p><a href="/login?redirect={{ path | urlencode }}" class="btn btn-primary">Connectez-vous pour voir vos
                idées</a></p>
            {% endif %}
            {% endif %}
          </div>
          {% endif %}
          {% if user and event.get('status_theme') === 'voting' %}
          <div class="themes__idea">
            <p>
              <input type="submit" class="btn btn-primary js-show js-hide" value="Gérer les idées de thème"
                data-show-selector="#js-manage-themes" data-hide-selector="#js-view-themes" />
            </p>
          </div>
          {% endif %}
        </div>
      </div>

      <form id="js-manage-themes" method="post" style="display: none" class="js-warn-on-unsaved-changes">
        {{ csrfToken() | safe }}

        <h2>Idées de thème </h2>
        <div class="panel themes__ideas">
          {% set ideaRows = max(userThemes.length, maxThemeSuggestions) %}
          {% for index in range(0, ideaRows) %}
          {% set userTheme = userThemes[index] if userThemes.length > index %}
          <div class="themes__idea form-group {{ 'form-inline' if userTheme }}">
            <input type="text" id="idea-title-{{ index }}" name="idea-title[{{ index }}]" class="form-control input-lg"
              {{ 'readonly="readonly"' if userTheme }} placeholder="Idea #{{ index + 1 }}"
              value="{{ userTheme.get('title') if userTheme }}" />
            {% if userTheme %}
            {% if userTheme.get('status') === 'duplicate' or userTheme.get('status') === 'active' %}
            <button type="button" class="js-idea-delete themes__idea-delete form-control btn btn-default"><span
                class="fas fa-trash"></span></button>
            {% endif %}
            {% endif %}
            <input type="hidden" name="idea-id[{{ index }}]" value="{{ userTheme.get('id') if userTheme }}" />
            {{ themeDetails(userTheme) if userTheme }}
          </div>
          {% endfor %}
          <div class="form-group themes__idea" style="margin-top: -15px">
            <input type="hidden" name="action" value="ideas" />
            <input type="hidden" name="idea-rows" value="{{ ideaRows }}" />
            <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            <a href="{{ buildUrl(event, 'event', 'themes') }}" class="btn btn-default">Annuler</a>
          </div>
        </div>
      </form>

      <div class="themes__stats">
        <h2>Stats</h2>
        <div>
          <p>
            {% if user %}<b>Vous:</b> {{ userThemes.length }} idées, <span id="js-user-votes">{{ voteCount }}</span>
            votes</li><br />{% endif %}
            <b>Toutes les personnes:</b> {{ event.related('details').get('theme_count') or '0' }} idées, <span
              id="js-total-votes">{{ event.related('details').get('theme_vote_count') or '0' }}</span> votes
            {{- ', ' + shortlistVotes + ' shortlist votes' if shortlistVotes }}
          </p>
          {% if event.get('status_theme') === 'voting' %}
          <div class="progress">
            {% set activePercentage = (100 * event.related('details').get('active_theme_count') / event.related('details').get('theme_count') or 100) | digits(0) %}
            <div class="progress-bar progress-bar-default" role="progressbar" style="width: {{ activePercentage }}%">
              {{ event.related('details').get('active_theme_count') }} Active</div>
            <div class="progress-bar themes__progress-bar-out" role="progressbar"
              style="width: {{ 100 -  activePercentage }}%">
              {{ event.related('details').get('theme_count') - event.related('details').get('active_theme_count') }} Out
            </div>
          </div>
          <p>Les thèmes les moins classés (ayant {{ eliminationMinNotes }} votes ou moins) sont éliminés régulièrement.Plus le thème dure longtemps avant l'élimination, le mieux est il!</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-8">
      {% if infoMessage %}
      <div class="alert alert-info">{{ infoMessage }}</div>
      {% endif %}

      {% if event.get('status_theme') === 'voting' %}
      <div class="themes__voting">
        <h2>Theme voting</h2>

        {% if user %}
        <div class="panel theme-vote">
          {% if votingAllowed %}
          <div id="js-theme-vote" data-find-themes-url="{{ buildUrl(event, 'event', 'ajax-find-themes') }}"
            data-save-vote-url="{{ buildUrl(event, 'event', 'ajax-save-vote') }}">
          </div>
          {% else %}
          Le vote commencera au moins quand {{ ideasRequired }} idées sont soumises.
          {% endif %}
        </div>
        <div class="horizontal-bar">Historique des votes</div>
        <div id="js-theme-history" class="row">
          {% for vote in votesHistory %}
          {% if vote.related('theme').get('status') !== 'banned' %}
          <div class="col-sm-6">
            <div class="theme-past">
              <table>
                <tr>
                  <td class="theme-past__buttons">
                    <form method="post">
                      {{ csrfToken() | safe }}
                      <input type="hidden" name="action" value="vote" />
                      <input type="hidden" name="theme-id" value="{{ vote.get('theme_id') }}" />
                      <button name="upvote"
                        class="btn {{ 'btn-success' if vote.get('score') > 0 else 'btn-default' }} btn-xs"><span
                          class="fas fa-arrow-up"></span></button>
                      <button name="downvote"
                        class="btn {{ 'btn-danger' if vote.get('score') < 0 else 'btn-default' }} btn-xs"><span
                          class="fas fa-arrow-down"></span></button>
                    </form>
                  </td>
                  <td class="theme-past__label">
                    {{ vote.related('theme').get('title') }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}
        {% if votingAllowed %}
        <p>Voici quelques idées soumises à l'événement. <a href="/login?redirect={{ path | urlencode }}"
            class="btn btn-primary">Connectez-vous pour voter</a></p>
        {% for theme in sampleThemes %}
        <div class="panel theme-vote theme-vote__label">{{ theme.get('title') }}</div>
        {% endfor %}
        {% else %}
        Le vote commencera au moins quand {{ ideasRequired }} idées sont soumises..
        {% endif %}
        {% endif %}
      </div>
      {% endif %}

      {% if event.get('status_theme') === 'shortlist' or event.get('status_theme') === 'closed' %}
      {% set shortlistVote = (user and event.get('status_theme') === 'shortlist') %}
      <div class="themes__shortlist">
        <form method="post" class="js-warn-on-unsaved-changes">
          {{ csrfToken() | safe }}
          <input type="hidden" name="action" value="shortlist" />

          <h2>Classement shortlist</h2>
          <input id="js-shortlist-votes" type="hidden" name="shortlist-votes" />
          <div class="well">
            <p>
              {% if randomizedShortlist %}
              Voici les meilleures idées soumises, dans un ordre aléatoire.
              {{ "Classez-les du meilleur (premier) au pire (dernier) en utilisant le drag'n'drop." if user }}
              {% elseif shortlistVote %}
              Voici les meilleures idées soumises selon votre classement. Vous pouvez toujours les glisser-déposer pour changer l'ordre.
              {% elseif hasRankedShortlist %}
              Voici les meilleures idées soumises selon votre classement. Vous ne pouvez plus changer votre vote.
              {% else %}
              Voici les meilleures idées soumises, dans un ordre aléatoire. Il est maintenant trop tard pour les évaluer.
              {% endif %}
            </p>
            {% if eliminatedShortlist.length > 0 %}
            <p>The greyed out themes have been eliminated, only {{ 10 - eliminatedShortlist.length }} remain in
              competition!</p>
            {% endif %}
            <p>
              {% if shortlistVote %}
              <input id="js-shortlist-submit" type="submit" class="btn btn-primary disabled" value="Save changes"
                disabled="disabled" />
              {% elseif event.get('status_theme') === 'shortlist' %}
              <a href="/login?redirect={{ path | urlencode }}" class="btn btn-primary">Connectez-vous pour classer la liste</a>
              {% endif %}
            </p>
            <ol id="{{ 'js-shortlist' if shortlistVote }}" class="{{ 'use-hover' if shortlistVote }}">
              {% set forcedFontSize = (19 + eliminatedShortlist.length) if (eliminatedShortlist.length > 0) else null %}
              {% for theme in activeShortlist %}
              <li class="theme-shortlist-line {{ 'draggable' if shortlistVote }}" data-theme-id="{{ theme.get('id') }}">
                {% if shortlistVote %}
                <span class="theme-shortlist-line__handle fas fa-bars"></span>
                {% endif %}
                <span class="theme-shortlist-line__label"
                  style="{{ ('font-size: ' + forcedFontSize + 'px') if forcedFontSize }}">{{ theme.get('title') }}</span>
              </li>
              {% endfor %}
              {% for theme in eliminatedShortlist %}
              <li class="theme-shortlist-line eliminated {{ 'draggable-list' if shortlistVote }}"
                data-theme-id="{{ theme.get('id') }}">
                <span class="theme-shortlist-line__label">{{ theme.get('title') }}</span>
              </li>
              {% endfor %}
            </ol>
          </div>
        </form>
      </div>
      {% endif %}

      {% if event.get('status_theme') === 'results' %}
      <div class="themes__results">
        <h2>Résultats de la shortlist</h2>
        <div class="well">
          {% if userRanks %}
          <span class="theme-shortlist-line__score">Vos choix</span>
          {% endif %}
          <span class="theme-shortlist-line__score hidden-xs">Score</span>
          {% if shortlist.length > 0 %}
          The theme of the <em>{{ event.get('title') }}</em> is <strong>{{ shortlist[0].get('title') }}</strong>. Voici 
          les résultats détaillés du vote:
          {% endif %}
          </p>
          <ol>
            {% for theme in shortlist %}
            <li class="theme-shortlist-line {{ 'winner' if loop.index == 1 }}">
              <span class="theme-shortlist-line__label">{{ theme.get('title') }}</span>
              {% if userRanks %}
              <span class="theme-shortlist-line__ranking">{{ userRanks[theme.get('id')] | ordinal }}</span>
              {% endif %}
              <span
                class="theme-shortlist-line__score hidden-xs">{{ '+' if theme.get('score') > 0 }}{{ theme.get('score') }}</span>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

<script id="js-theme-vote-template" type="text/template">
  <% if (theme) { %>
  <table>
  <tr><td class="theme-vote__buttons">
    <form id="js-vote-form" method="post">
      {{ csrfToken() | safe }}
      <input type="hidden" name="action" value="vote" />
      <input type="hidden" name="theme-id" id="js-theme-id" value="<%- theme.id %>" />
      <button id="js-upvote" name="upvote" class="btn btn-default"><span class="fas fa-arrow-up"></span></button>
      <button id="js-downvote" name="downvote" class="btn btn-default"><span class="fas fa-arrow-down"></span></button>
    </form>
  </td><td id="js-theme-title" class="theme-vote__label">
    <%- theme.title %>
  </td></tr>
  </table>
  <% } else { %>
   <p>Plus de thèmes sur lesquels voter!</p>
   <p>Si vous laissez cette page ouverte, elle sera actualisée toutes les cinq minutes.</p>
   <p><i>(Last checked: 
      <% var date = new Date()
        var hours = ('0' + date.getHours()).slice(-2)
        var minutes = ('0' + date.getMinutes()).slice(-2)
        print(hours + ':' + minutes) %>)</i></p>
  <% } %>
</script>

<script id="js-theme-vote-history-template" type="text/template">
  <div class="col-sm-6">
    <div class="theme-past">
      <table class="js-theme-vote-history-block" style="display: none">
      <tr><td class="theme-past__buttons">
        <form method="post">
          {{ csrfToken() | safe }}
          <input type="hidden" name="action" value="vote" />
          <input type="hidden" name="theme-id" value="<%- theme.id %>" />
          <button name="upvote" class="btn <%- theme.upvote ? 'btn-success' : 'btn-default' %> btn-xs"><span class="fas fa-arrow-up"></span></button>
          <button name="downvote" class="btn <%- theme.downvote ? 'btn-danger' : 'btn-default' %> btn-xs"><span class="fas fa-arrow-down"></span></button>
        </form>
      </td><td class="theme-past__label">
        <%- theme.title %>
      </td></tr>
      </table>
    </div>
  </div>
</script>

{% endblock %}

{% macro themeDetails(userTheme) %}
<p>
  {{ eventMacros.eventThemeStatus(userTheme) }}
  {% set themeStatus = userTheme.get('status') if userTheme %}
  {% if themeStatus !== 'duplicate' %}
  {% if themeStatus === 'out' or themeStatus === 'banned' %}
  Out after {{ userTheme.get('notes') }} votes
  {% elseif themeStatus !== 'duplicate' %}
  Rated {{ userTheme.get('notes') }} time{{ 's' if userTheme.get('notes') !== 1 }}
  {% endif %}
  {% endif %}
</p>
{% endmacro %}