{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          {% if not success %}
              <h1>Demande de récupération de mot de passe</h1>

              <p>Remplissez l'adresse e-mail que vous avez utilisée pour vous inscrire SVP.</p>

              <form method="post" action="{{ path }}">
                {{ csrfToken() | safe }}
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" required="required" />
                </div>
                <button type="submit" class="btn btn-primary">Soumettre</button>
              </form>
            </div>
          {% else %}
            <h3>Demande enregistrée</h3>
            <p>
              Si cette adresse correspond à un compte existant, vous devriez bientôt recevoir un courrier électronique avec un lien de récupération du mot de passe.</p>
            <p>Si vous rencontrez des problèmes pour trouver le courrier électronique, consultez votre Spam. Toujours pas de chance? SVP <a href="/article/docs">Contactez un administrateur</a>.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}