{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if infoMessage or errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ infoMessage or errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          <h1>S'inscrire</h1>

          <form method="post" action="/register">
            {{ csrfToken() | safe }}
            <div class="form-group">
              <label for="username">Email {{ formMacros.tooltip('Utilisé uniquement pour la récupération de mot de passe ou autres circonstances exceptionnelles. Toute fonctionnalité à venir impliquant des courriels sera activée.', { placement: 'right' }) }}</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required="required" />
            </div>
            <div class="form-group">
              <label for="username">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ name }}" required="required" />
            </div>
            <div class="form-group">
              <label for="password">Mot De Passe</label>
              <input type="password" class="form-control" id="password" name="password" required="required" />
            </div>
            <div class="form-group">
              <label for="password-bis">Répéter le mot de passe</label>
              <input type="password" class="form-control" id="password-bis" name="password-bis" required="required" />
            </div>
            <div class="form-group">
              <label for="captcha">Etes vous humain? (yes ou no)</label>
              <input type="text" class="form-control" id="captcha" name="captcha" required="required" />
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember-me"> Se Souvenir de moi
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}