<p>Bonjour {{ user.get('title') or user.get('name') }},</p>

<p>La récupération du mot de passe a été demandée pour votre nom d'utilisateur <b>{{ user.get('name') }}</b>. Si vous êtes la personne qui a fait cette demande, veuillez utiliser le lien suivant dans les 24 heures pour choisir un nouveau mot de passe:</p>

{% set link = rootUrl + '/passwordRecovery?token=' + token %}
<p><a href="{{ link }}">{{ link }}</a></p>

<p>Si vous n'avez pas fait cette demande, vous pouvez ignorer cet email en toute sécurité..Les demandes de récupération de mot de passe peuvent être faites par n'importe qui, votre compte est donc sécurisé.</p>

<p>CNPSR</p>

<p><a href="{{ rootUrl }}"><img src="{{ staticUrl('/static/images/brand.svg') }}" height="150" /></a></p>